/* set standard variables, starting with mobile design */

* {
	font-family: "Open Sans", sans-serif;
  margin-top: 0;
}

body {
	background-color: hsl(211, 54%, 60%);
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
	text-shadow: 2px 1px 2px black;
	text-align: center;
	text-transform: uppercase;
}

a {
	color:white;
	text-decoration: none;
}

a:after {
	color: white;
	text-decoration: none;
}

h2 {
  font-size: 1.3em;
	font-weight: 800;
}

h5 {
  padding-top: 3em;
}

p,li,th {
  font-size: 1em;
	color: white;
	font-weight: 300;
}

img, svg {
	display: block;
	margin: 0 auto;
}


nav {
  position: fixed;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 10vh;
	background: hsl(214, 75%, 35%);
	padding-top: 0.5em;
}

#logo {
	height: 85%;
}

button {
	font-size: 0.75rem;
}

button, label {
	height: 4em;
	width: 40vw;
	color: white;
	font-weight: bold;
	font-size: 0.8rem;
	text-transform: uppercase;
	text-shadow: 2px 1px 2px black;
	border: none;
	cursor:pointer;
	background: #109bce;
    background-image: -webkit-linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
    background-image: -o-linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
    background-image: linear-gradient(to top, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 5px 3px #000;
}

button:active, label:before {
 top: 3px;
 box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
}

button:before, label:before {
  font-size: 50px;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  width: 85px;
  height: 90px;
  display: block;
  position: absolute;
  padding-top:10px;
  top: 10px;
  text-shadow: 1px 1px 2px #07526e;
}

.answers > label:nth-child(1) {
	background: red;
	background-image: -webkit-linear-gradient(bottom, rgb(208,2,27) 0%, rgb(252,5,33) 100%);
    background-image: -o-linear-gradient(bottom, rgb(208,2,27) 0%, rgb(252,5,33) 100%);
    background-image: linear-gradient(to top, rgb(208,2,27) 0%, rgb(252,5,33) 100%);
}

.answers > label:nth-child(2) {
	background: red;
	background-image: -webkit-linear-gradient(bottom, rgb(47,207,76) 0%, rgb(68,248,101) 100%);
    background-image: -o-linear-gradient(bottom, rgb(47,207,76) 0%, rgb(68,248,101) 100%);
    background-image: linear-gradient(to top, rgb(47,207,76) 0%, rgb(68,248,101) 100%);
}

.answers > label:nth-child(3) {
	background: red;
/*	background-image: -webkit-linear-gradient(bottom, rgb(208,2,27) 0%, rgb(252,5,33) 100%);
    background-image: -o-linear-gradient(bottom, rgb(208,2,27) 0%, rgb(252,5,33) 100%);*/
    background-image: linear-gradient(to top, rgb(235,221,45) 0%, rgb(252,245,60) 100%);
}

.answers > label:nth-child(4) {
	background: red;
/*	background-image: -webkit-linear-gradient(bottom, rgb(208,2,27) 0%, rgb(252,5,33) 100%);
    background-image: -o-linear-gradient(bottom, rgb(208,2,27) 0%, rgb(252,5,33) 100%);*/
    background-image: linear-gradient(to top, rgb(245,166,35) 0%, rgb(251,210,73) 100%);
}


main {
  display: block;
  margin:0 auto;
	max-width: 83vw;
  text-align: center;
}

/* Mobile specific */

main > img {
	width: 50%;
	border: 10px solid white;
	margin-bottom: 2em;
}

main > h2 {
	padding-top: 5em;
  	font-weight: 800;
 	color: white;
 	text-shadow: 2px 1px 2px black;
}

main > p {
  display: block;
  margin: 0 auto;
  padding-bottom: 3em;
}

main > ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: center;
	padding: 0;
}


main > ul > li  {
	margin-right: 1em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

tbody {
  text-align: left;
}

table {
  margin-bottom: 2em; 
}


th {
  padding-bottom: 1em; 
}

td  {
  padding-right: 2em;
}

section > h2 {
	margin-bottom: 2em;
	margin-top: 2em;
}

section > input {
  padding: 1em 2em 1em 2em;
  margin-bottom: 3em;
}

#transformatie-2 {
  display: none;
}

#transformatie-3 {
  display: none;
}

#transformatie-4 {
  display: none;
}

#deweekvan {
	text-align: center;
	margin: 0em 0em 4em 0em;
}


#deweekvan > a >img {
	display: inline-block;
	flex-direction: row;
	width: 30%;
}

#vote {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 0.5em;
}

#share {
	display: block;
	margin: 0 auto;
	width: 8rem;
	height: 3.5em;
	background-color: red;
	color: white;
	font-size: 1rem;
	font-weight: 900;
	margin-bottom: 6em;
	background-image: -webkit-linear-gradient(bottom, hsl(356, 81%, 45%) 0%, hsl(357, 70%, 40%) 100%);
  background-image: -o-linear-gradient(bottom, hsl(356, 81%, 45%) 0%, hsl(357, 70%, 40%) 100%);
  background-image: linear-gradient(to top, hsl(356, 81%, 45%) 0%, hsl(357, 70%, 40%) 100%);
}

#meerdere-tekst {
  display: none;
  padding-bottom: 2em;
}

#alleen-tekst {
  padding-bottom: 2em;
  display: none;
}

#start[disabled="true"] {
  cursor: not-allowed;
  background: grey;
}

.possible-answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5em;
  padding-top: 2em;
}

.possible-answers  > li {
  font-size: 1em;
  padding-bottom: 1em;
}

#false {
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  background: -webkit-linear-gradient(234deg, #ed7463, #c91900);
  background: -o-linear-gradient(234deg, #ed7463, #c91900);
  background: linear-gradient(324deg, #ed7463, #c91900);
  background-size: 400% 400%;
  -webkit-animation: falseAnimation 4s ease infinite;
  -moz-animation: falseAnimation 4s ease infinite;
  animation: falseAnimation 4s ease infinite;
}

#validation {
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  background: -webkit-linear-gradient(234deg, #edb963, #e7940c);
  background: -o-linear-gradient(234deg, #edb963, #e7940c);
  background: linear-gradient(324deg, #edb963, #e7940c);
  background-size: 400% 400%;
  -webkit-animation: loadingAnimation 4s ease infinite;
  -moz-animation: loadingAnimation 4s ease infinite;
  animation: loadingAnimation 4s ease infinite;
}

#correct {
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  background: -webkit-linear-gradient(234deg, #2be03e, #00c91f);
  background: -o-linear-gradient(234deg, #2be03e, #00c91f);
  background: linear-gradient(324deg, #2be03e, #00c91f);
  background-size: 400% 400%;
  -webkit-animation: correctAnimation 4s ease infinite;
  -moz-animation: correctAnimation 4s ease infinite;
  animation: correctAnimation 4s ease infinite;
}

a > #answer1 {
  margin-bottom: 1em;
  background-image: -webkit-linear-gradient(bottom, hsl(356, 81%, 45%) 0%, hsl(357, 70%, 40%) 100%);
  background-image: -o-linear-gradient(bottom, hsl(356, 81%, 45%) 0%, hsl(357, 70%, 40%) 100%);
  background-image: linear-gradient(to top, hsl(356, 81%, 45%) 0%, hsl(357, 70%, 40%) 100%);
  box-shadow: inset 0px 1px 0px red, 0px 5px 0px 0px darkred, 0px 5px 3px #000;
}

a > #answer2 {
  margin-bottom: 1em;
  background-image: -webkit-linear-gradient(bottom, #34e755 0%, #22ba3e 100%);
  background-image: -o-linear-gradient(bottom, #34e755 0%, #22ba3e 100%);
  background-image: linear-gradient(to top, #34e755 0%, #22ba3e 100%);
  box-shadow: inset 0px 1px 0px #34e755, 0px 5px 0px 0px #22ba3e, 0px 5px 3px #000;
}

a > #answer3 {
  background-image: -webkit-linear-gradient(bottom, #fcf53b 0%, #ecde2d 100%);
  background-image: -o-linear-gradient(bottom, #fcf53b 0%, #ecde2d 100%);
  background-image: linear-gradient(to top, #fcf53b 0%, #ecde2d 100%);
  box-shadow: inset 0px 1px 0px #fcf53b, 0px 5px 0px 0px #ecde2d, 0px 5px 3px #000;
}

a > #answer4 {
  background-image: -webkit-linear-gradient(bottom, #fbd249 0%, #f5a523 100%);
  background-image: -o-linear-gradient(bottom, #fbd249 0%, #f5a523 100%);
  background-image: linear-gradient(to top, #fbd249 0%, #f5a523 100%);
  box-shadow: inset 0px 1px 0px #fbd249, 0px 5px 0px 0px #f5a523, 0px 5px 3px #000;
}

.validate{
  flex-direction: column;
  align-items: center;
}

.validate > h2 {
  padding-top: 50%;
}

.validate > p {
  font-size: 16px;
}

.false {
  display: none;
  flex-direction: column;
  align-items: center;
}

.false > h2 {
  padding-top: 50%;
}

.correct {
  display: none;
  flex-direction: column;
  align-items: center;
}

.correct > h2 {
  padding-top: 50%;
}

@-webkit-keyframes correctAnimation {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-moz-keyframes correctAnimation {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@keyframes correctAnimation { 
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}

@-webkit-keyframes falseAnimation {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-moz-keyframes falseAnimation {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@keyframes falseAnimation { 
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}

@-webkit-keyframes loadingAnimation {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-moz-keyframes loadingAnimation {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@keyframes loadingAnimation { 
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}

footer > h3 {
	font-size: 1rem;
}

section > ul {
	list-style: none;
}

footer > a > #start {
	display: block;
	margin: 0 auto;
	background: green;
}

/*youtube pagina*/

.youtube-list {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

iframe {
	width: 100%;
	height: 300rem;
}

a > button {
  margin-bottom: 2em;
  margin-top: 2em;
}


/*d3js bar styling*/

.bar {
	fill: white;
}

.tick > text {
	fill: white;
}

.tick > line {
	stroke: white;
}

.axis--y > path {
	stroke: white;
}

.axis--x > path {
	stroke: white;
}



@media screen and (min-width: 40em) {

  main > h2 {
    padding-top: 9em;
  }

  svg {
    width: 300px;
    height: 300px;
  }

  .youtube-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4em;
  }
  
}



@media screen and (min-width: 75em) {

  main {
    display: block;
    margin:0 auto;
    max-width: 50vw;
    text-align: center;
  }

  a > button {
    width: 22em;
  }

    .validate > h2 {
  padding-top: 22em;
}

.false > h2 {
  padding-top: 22em;
}

.correct > h2 {
  padding-top: 22em;
}

  
}

@media screen and (min-width: 105em) {

  main {
    display: block;
    margin:0 auto;
    max-width: 50vw;
    text-align: center;
  }

  a > button {
    width: 24em;
  }



  
}

@media screen and (min-width: 105em) {

  main {
    display: block;
    margin:0 auto;
    max-width: 50vw;
    text-align: center;
  }

  a > button {
    width: 31em;
  }

  
}


@media screen and (min-width: 110em) {

  main {
    display: block;
    margin:0 auto;
    max-width: 50vw;
    text-align: center;
  }

  a > button {
    width: 34em;
  }

  
}


